 *{
 	overflow-wrap: anywhere;
 }
 body{
 	background: #f0f2f5;
 	margin: 0;
 	padding: 0;
 }
 *{
 	box-sizing: border-box;
 	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
 	outline: none;
 }
 a{
 	text-decoration: none;
 	color: inherit;
 }
 .nav_bar{
 	position: sticky;
 	background: #0f8fcc;
 	width: 100%;
 	margin-bottom: 10px;
 	padding: 0;
 	border-bottom: 1px solid #ddd;
 }
 .logo{
 	margin-right: auto;
 	font-weight: 600;
 }
 nav{
 	width: 60%;
 	margin-left: auto;
 	margin-right: auto;
 	display: flex;
 	justify-content: flex-end;
 	align-items: center;
 	/*padding-top: 7px;*/
 	height: 50px;
 }
.nav_icons{
 	text-decoration: none;
 	color: #fff;
 	white-space: nowrap!important;
 	padding: 5px;
 }
.myposts_header, .home_header{
	color: #091e42;
	margin: 10px 5px;
	font-weight: 500;
}
.view_job{
	text-decoration: none;
	color: #0f8fcc;
}
.home_list_category{
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 1px 4px;
}
@media screen and (max-width: 680px){
	
}